*{
    background-color: rgb(40 44 52);
    font: 1.1em;
    
}

body{
    margin: 8% 0 0 0;
}

.container-fluid{
    margin: auto;
    text-align: center;
    width: 60%;
}

#image-container {
    margin: auto;
    justify-content: center;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

h1{
    font: 1.5 sans-serif;
    color: white;
}

p{
    font: 1.3 sans-serif;
    color: white;
}

img{
  margin: 0 auto;
  margin-left: -25%; 
  height: 100%;
  width: auto;
  transform: scaleX(-1);
}

button {
    padding: 9px 25px; /* creates the option to give a background */
    background-color: rgb(35, 182, 201);
    border: none;
    border-radius: 25px; /* rounds the corners */
    cursor: pointer; /* changed mouse to pointer when over it */
    transition: all 0.3s ease 0s; /* fades the background color to a lower opacyity */
    margin-top: 20px;
}

button:hover {
    background-color: rgba(66, 218, 238, 0.932);
}