*{
    font: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 8% 0 0 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(40 44 52);
}

.webresources-container{
    margin: auto;
    text-align: center;
    width: 60%;
}

#image-container {
    margin: 5%;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.person-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-4 {
    display: flex;
    justify-content: center;
}


h1{
    font: 2.8125em 'Roboto';
    color: white;
}
p{
    font: 1.2em 'Roboto';
    color: white;
}

img{
  margin: 0 auto;
  margin-left: -25%; 
  height: 100%;
  width: auto;
  transform: scaleX(-1);
}


.soon-to-be-navbar{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

/***** webresources.html *****/

a,
a:hover,
a:active,
a:visited{
    text-decoration: none;
}

a {
    color: rgb(253, 255, 138);
}

a:hover{
    color:  rgb(35, 182, 201);
}

a:active{
    color: blue;
}

h3{
    font-size: 1.8em;
}

.webresources-body{
    margin: 5% 0 0 0;
}

.wr-header{
    margin: 0 0 40px 0;
}

.resource-container{
    width: 400px;
    height: 500px;
    padding: 20px;
    margin: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(38, 38, 48);
    display: inline-block;
    position: relative;
    vertical-align: top; /* makes cards alighn correctly */
}

.resource-container:hover{
    transform: scale(1.05);
    background-color: rgb(35 35 45);
    transition: 0.3s;
}

.rating-container{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;;
}

/***** Navbar *****/



